* { padding: 10; margin: 10; }
    	#myCanvas,#myCanvas2,#mainCanvas,#myCanvas3,#levelCanvas,#dispScoreCanvas {background-image: url('../images/b5.jpg'); border-width: 5px;border-color: red; border-style: dashed; display: block; margin: 0 auto;background-repeat:no-repeat;}
    	#myCanvas1 { background-image: url('../images/b4.jpg');display: block; margin: 0 auto; background-repeat: no-repeat;border-width: 5px;border-color: red; border-right-style: dashed;border-left-style: dashed;border-top-style: dashed; }

body{
     background-image: url('../images/b4.jpg'); display: block; margin: 0 auto;background-repeat:repeat; 
}

.btn,.btns{
    text-decoration: none;
    font-size: 20px;
    color: white;
    width: 150px;
    height: 60px;
    border-radius: 12px;
    background-color: red;
    text-align: center;
    letter-spacing: .5px;
    cursor: pointer;
    align-items: center;
    position:absolute;
     z-index:2;
     left: 617px; 
}
img{
	   z-index:2;
	   
}
.btn1,.btn4{
	 top:150px;
}
.btn2,.btn5{
	 top:220px;
}
.btn3{
	 top:290px;
}
.btn4{
	position:absolute;
	   left: 700px;
	 top:420px;
}
.btn5{
position:absolute;
	   left: 600px;
	 top:420px;
}
.btn6{
position:absolute;
	 
	 top:360px;
} 
.btn7{
position:absolute;
	 
	 top:430px;
} 
input{
	z-index: 2;
	left:617px;
	position: absolute;
	top:200px;
}
#radio1{
	z-index: 2;
	left:617px;
	position: absolute;
	top:200px;
}#radio2{
	z-index: 2;
	left:617px;
	position: absolute;
	top:250px;
}#radio3{
	z-index: 2;
	left:617px;
	position: absolute;
	top:300px;
}
label#r1{
	z-index: 2;
	left:650px;
	position: absolute;
	font-size: 30px;
	color: white;
	top:195px;
}
label#r2{
	z-index: 2;
	left:650px;
	position: absolute;
	font-size: 30px;
	color: white;
	top:245px;
}
label#r3{
	z-index: 2;
	left:650px;
	position: absolute;
	font-size: 30px;
	color: white;
	top:295px;
}
table{
	position:absolute;
	   left: -171px;
	 top:-230px;
	 color: white;
	 text-align: center;
	 font-size: 40px;
	 border: 2px solid red;
}
#left
{
	top:200px;
	left:715px;
}
#right
{
	top:275px;
	left:715px;
}
label#ll1
{
	z-index: 2;
	left:500px;
	position: absolute;
	font-size: 35px;
	color: red;
	top:200px;
}
label#rl1
{
	z-index: 2;
	left:500px;
	position: absolute;
	font-size: 35px;
	color: red;
	top:270px;
}
#submit
{
	z-index: 2;
	left:665px;
	top:350px;
	height:30px;
	width:60px;
}
#backb{
	z-index: 2;
	position: absolute;
	top: 574px;
    width: 71px;
    height: 30px;
    left: 457px;
}
#title{
	position: absolute;
	left:440px;
	top:74px;
}